<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="product-details">
    <h3>{{product.name}}</h3>
    <p>Category: {{product.category}}</p>
    <p>Price: ${{product.price}}</p>
    <p>Manufacture Date: {{product.manufactureDate}}</p>
    <p>Expiration Date: {{product.expiryDate}}</p>
  </div>
</body>
</html>
